<!DOCTYPE html> 

<html>

<head>
	<title> Dashboard </title>
	<!-- META TAGS -->

	<!-- Style -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="/style/styles.css" rel="stylesheet">
		<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</head>
<nav>
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-3 pull-right">
				<div class="navbar navbar-inverse" role="banner">
					<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
						<ul class="nav navbar-nav">
							<% if(!email) {  %>
								<li class="dropdown">
									<a href="/login" class="dropdown-toggle" data-toggle="dropdown"> Login / Register </b></a>
								</li>
							<% } else { %>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= email %><b class="caret"></b></a>
									<ul class="dropdown-menu animated fadeInUp">
										<li><a href="#"><i class="glyphicon glyphicon-user"></i>Profile</a></li>
										<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
									</ul>
								</li>
							<% } %>
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-md-10 pull-left">
				<div class="row">
	                <div class="col-lg-5">
	          
	                </div>
	             </div>
			</div>
		</div>
	</div>
</div>
</nav>
