<% include partials/header %>

<body>

<div class="page-content">
	<div class="row">
		<div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="/"><i class="glyphicon glyphicon-home"></i> My Dashboard</a></li>
                    <li class="submenu">
                        <a href="#">
	                        <i class="glyphicon glyphicon-list"></i> Analytics
	                        <span class="caret pull-right"></span>
                        </a>
                     	<ul>
                        	<li><a href="#">Report Catalog</a></li>
                        	<!-- <li class="submenu">
		                        <a href="#"> Analytics Reports <span class="caret pull-right"></span></a>
		                     	<ul>
		                        	<li><a href="#">Marketing Work Report</a></li>
		                    	</ul>
                    		</li> -->
                    		<li><a href="#">Analytics Report</a></li>
                    	</ul>
                    </li>
                    <li class="submenu">
                        <a href="#">
	                        <i class="glyphicon glyphicon-list"></i> People Management <span class="caret pull-right"></span>
                        </a>
                     	<ul>
                        	<li><a href="#">Market Visit Plan</a></li>
                        	<!-- <li class="submenu">
		                        <a href="#"> Analytics Reports <span class="caret pull-right"></span></a>
		                     	<ul>
		                        	<li><a href="#">Marketing Work Report</a></li>
		                    	</ul>
                    		</li> -->
                    		<li><a href="#">Upload a Plan</a></li>
                    	</ul>
                    </li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Market Working <span class="caret pull-right"></span>
                         </a>
                         <ul>
                            <li><a href="#">Questionaire Management</a></li>
                            <li><a href="#">Market Working Activity</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
                </ul>
             </div>
		</div>

		<div class="col-md-10">
			<div class="content-box-large">
				<div class="panel-heading">
					<div class="panel-title"><h1>Welcome User!</h1></div>
					<div class="panel-options">
						<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
						<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
					</div>
				</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>
	</div>
</div>

</body>

<% include partials/footer %>