<html lang="en">
<head>
	<title>TrackkNTrain</title>
	<link href="/style/index.css" rel="stylesheet">
</head>
<body>
	<div class = "slogans">
		<div class ="top">
				<label id = "brand">
					TRACK N TRAIN
				</label><br>
				<label id = "slogan">
					Coming Soon
				</label>
		</div>
		<div class="bottom">
			<label id = "subtext">Made with &#10084; by <label id="red">Tophawks</label></label>
		</div>
	</div>
		<% include partials/footer %>

</body>
</html>